.header-left {
    height: 100%;
    width: auto;
}

.header-center {
    display: block;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-center2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
/*Common header*/
header {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    background: rgb(163, 73, 164);
    height: auto;
    padding: 6px 12px;
    margin-bottom: 5px;
}

#Logo {
    width: auto;
    height: 150px;
}

/*Tittle center and font*/
#Title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    align-items: center;
    font-family: algerian;
    font-size: 500%;
}


#Div1 {
    background-color: rgb(163, 73, 164);
}

#Div2 {
    background-color: rgb(163, 73, 164);
}


table td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}


/*
body{
    color: white;
}*/


/*Navigation bar*/
.topnav {
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    background-color: rgb(163, 73, 164);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(133, 73, 134);
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(113, 73, 164);
    color: white;
}